#moreheading {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 50px;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}
