.display {
  background-color: rgb(180, 178, 178);
  margin-left: 80px;
  margin-right: 80px;
}

#backdropContact {
  background-color: rgb(89, 194, 68);
}
#contactheading {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 50px;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size: x-large;
  text-align: right;
}



#github {
  width: 12%;
  height: auto;
  padding-left: 100px;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: right;
}
#linkedin {
  width: 12%;
  height: auto;
  padding-left: 700px;
  padding-bottom: 20px;
}

#talkbubble {
  width: 22%;
  height: auto;
  padding-left: 100px;
  padding-bottom: 20px;
}

#fullname {
  margin-left: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: xx-large;
}

#narrative {
  float: center;
  background-color: rgb(240, 232, 232);
  width: 600px;
  margin-right: 120px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5),
    -1px -1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

#innernarrativetext {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
