.display {
  margin-left: 80px;
  margin-right: 80px;
  height: 400px;
}

#backdropLandPad {
  background-color: rgb(89, 194, 68);
}

#break {
  background-color: white;
  height: 50px;
}
#landpadimg {
  width: 26%;
  height: auto;
  padding-left: 100px;
  padding-bottom: 20px;
}

#fullname {
  margin-left: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: xx-large;
}

#narrative {
  float: center;
  background-color: rgb(240, 232, 232);
  width: 600px;
  margin-right: 120px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5),
    -1px -1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

#innernarrativetext {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
