.nav-area {
  text-align: left;
  background-color: rgb(199, 194, 194);
  height: 5rem;
  width: 100%;
  letter-spacing: 3px;
  margin-bottom: 50px;
}

.nav-link {
  letter-spacing: 7px;
  word-spacing: 20px;
  font-family: "Quicksand", sans-serif;
  color: black;
  margin-top: 20px;
  padding-top: 30px;
}
#label {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 50px;
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size: x-large;
}

.location {
  padding: 8px 20px;
}
